<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>599668805336-prqk55d4v1gdgne5t4jactvqssau68pi.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.599668805336-prqk55d4v1gdgne5t4jactvqssau68pi</string>
	<key>API_KEY</key>
	<string>AIzaSyBbyOy5xkFopMsD4UJkUnm66gADtZZ6NRg</string>
	<key>GCM_SENDER_ID</key>
	<string>599668805336</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.flutterFirebaseStorageAndCloudFirestore</string>
	<key>PROJECT_ID</key>
	<string>flutter-fireabse</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-fireabse.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:599668805336:ios:0bb9b55224ce4dd97111ad</string>
</dict>
</plist>